
h1{
        color: yellow;
        text-align: center;
        margin-bottom: 60px;
}
#gameResult{
        display: flex;
        justify-content: space-around;
        font-weight: 600;
        font-size: 20px;
}
#count, #loser{
        background-color: papayawhip;
        padding: 10px;
        border-radius: 10px;
}
#result{
        display: flex;
        justify-content: center;
}
#selector{
        display: flex;
        justify-content: center;
}
#buttonContainer{
        display: flex;
        justify-content: space-around;
        margin: 20px 0px;
}
body{
        background-color: rebeccapurple;
        color: rebeccapurple ;
}
button{
        padding: 8px;
        border-radius: 10px;
        border: none;
        background-color: rebeccapurple;
        color: yellow;
}
button i{
        font-size: 30px;
        opacity: 1;
}
i{
        color: yellow;
        font-size: 30px;
        opacity: 0.9;
}
button:hover{
        background-color: rebeccapurple;
        color: yellow;
        transition: 0.5s;
        transform: scale(1.5);
}
#result{
        color: palegreen;
        font-size: 25px;
        font-weight: 600;

}

#selector{
        color: cyan;
        font-size: 20px;
}